---
- name: Set the system hostname
  hostname:
    name: "{{ hostdns }}.{{ domain_name }}"

- name: Update /etc/hosts
  lineinfile:
    path: /etc/hosts
    regexp: "^.*{{ hostdns }}.*$"
    line: "{{ ansible_host }} {{ hostdns }}.{{ domain_name }} {{ hostdns }}"
    state: present
    backup: yes