---
# Main setup for KVM Hypervisor on AlmaLinux
#- name: Ensure domain_name is specified
#  fail:
#    msg: "Please specify a domain_name using -e 'domain_name=xxx'"
#  when: domain_name is not defined or domain_name == "local.lab"

- name: Install Virtualization group and management tools
  dnf:
    name:
      - "@Virtualization Host"
      - virt-install
      - virt-viewer
      - libguestfs-tools
      - python3-lxml
    state: present

- name: Enable and start libvirtd service
  systemd:
    name: libvirtd
    state: started
    enabled: yes

- name: Set KVM module name based on CPU vendor facts
  set_fact:
    kvm_module: "{{ 'kvm_intel' if 'Intel' in (ansible_processor | join(' ')) else 'kvm_amd' if 'AMD' in (ansible_processor | join(' ')) else '' }}"

- name: Load common KVM kernel module
  modprobe:
    name: kvm
    state: present

- name: Load vendor-specific KVM module
  modprobe:
    name: "{{ kvm_module | trim }}"
    state: present
  when: kvm_module != ""

- name: Ensure firewalld is running
  systemd:
    name: firewalld
    state: started
    enabled: yes

- name: Configure Firewalld to allow virtualization traffic
  firewalld:
    service: libvirt
    permanent: yes
    state: enabled
    immediate: yes

# --- GESTION VIRBR0 ---
- name: Completely disable libvirt default network (virbr0)
  virt_net:
    name: default
    state: absent
    autostart: no
  ignore_errors: yes

- name: Optimize system performance for virtualization using tuned
  block:
    - name: Install tuned package
      dnf:
        name: tuned
        state: present

    - name: Apply virtual-host tuned profile
      command: tuned-adm profile virtual-host
      register: tuned_result
      changed_when: "'Current active profile: virtual-host' not in tuned_result.stdout"

- name: Validate virtualization capabilities
  command: virt-host-validate qemu
  register: virt_val
  ignore_errors: yes
  changed_when: false

- name: Handle Hostname configuration
  include_tasks: hostname.yml

# --- ALWAYS KEEP NETWORK AT THE END ---
- name: Handle Network configuration
  include_tasks: network.yml