---
- name: Determine target IP
  set_fact:
    # Si hypervisor_ip est vide (pas spécifié), on prend l'IP actuelle du serveur
    # Sinon, on utilise la valeur spécifiée
    target_ip: "{{ hypervisor_ip | default(ansible_default_ipv4.address, true) if hypervisor_ip == '' else hypervisor_ip }}"

- name: Debug target IP
  debug:
    msg: "The target IP for cloudbr0 will be: {{ target_ip }}"

- name: Configure cloudbr0 parameters (Static mode)
  nmcli:
    conn_name: "cloudbr0"
    ifname: "cloudbr0"
    type: bridge
    ip4: "{{ target_ip }}/{{ netmask_prefix }}"
    gw4: "{{ gateway }}"
    dns4: "{{ dns_server }}"
    method4: "manual"
    state: present

- name: Apply network changes and restart cloudbr0
  shell: "sleep 2 && nmcli con up cloudbr0"
  async: 20
  poll: 0

- name: Wait for connection to stabilize
  wait_for_connection:
    delay: 5
    timeout: 30