---
- name: Determine target IP
  set_fact:
    target_ip: "{{ hypervisor_ip if hypervisor_ip != '' else ansible_default_ipv4.address }}"

- name: Check current cloudbr0 IP
  command: "ip -4 -o addr show cloudbr0"
  register: cloudbr0_status
  changed_when: false
  failed_when: false

- name: Configure cloudbr0 parameters (Static mode)
  nmcli:
    conn_name: "cloudbr0"
    ifname: "cloudbr0"
    type: bridge
    ip4: "{{ target_ip }}/{{ netmask_prefix }}"
    gw4: "{{ gateway }}"
    dns4: "{{ dns_server }}"
    method4: "manual"
    state: present
  when: target_ip not in cloudbr0_status.stdout
  register: nmcli_config

- name: Apply network changes and restart cloudbr0
  shell: "sleep 2 && nmcli con up cloudbr0"
  async: 20
  poll: 0
  when: 
    - nmcli_config is defined
    - nmcli_config.changed