---
- name: Determine target IP
  set_fact:
    # Si hypervisor_ip est vide, on prend l'actuelle, sinon on prend la nouvelle
    target_ip: "{{ hypervisor_ip if hypervisor_ip != '' else ansible_default_ipv4.address }}"

- name: Configure cloudbr0 parameters (Static mode)
  nmcli:
    conn_name: "cloudbr0"
    ifname: "cloudbr0"
    type: bridge
    ip4: "{{ target_ip }}/{{ netmask_prefix }}"
    gw4: "{{ gateway }}"
    dns4: "{{ dns_server }}"
    method4: "manual"
    state: present
  register: nmcli_config

- name: Apply network changes and restart cloudbr0
  shell: "sleep 2 && nmcli con up cloudbr0"
  async: 20
  poll: 0
  # On ne relance l'interface que si nmcli a détecté un changement de config
  when: nmcli_config.changed

- name: Wait for connection to stabilize (on NEW IP if changed)
  wait_for_connection:
    delay: 5
    timeout: 30
  # On délègue le test à la machine de déploiement (localhost)
  # et on force l'adresse sur target_ip
  delegate_to: localhost
  vars:
    ansible_host: "{{ target_ip }}"
  when: nmcli_config.changed